<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="xmlMySQLItemRepository" class="com.exo.ecommerce.infrastructure.bdd.MySQLItemRepository">
        <constructor-arg name="crudRepository" ref="itemCRUDRepository"/>
    </bean>

    <bean id="xmlMySQLCartRepository" class="com.exo.ecommerce.infrastructure.bdd.MySQLCartRepository">
        <constructor-arg name="crudRepository" ref="cartCRUDRepository"/>
    </bean>

    <bean id="xmlMySQLInvoiceRepository" class="com.exo.ecommerce.infrastructure.bdd.MySQLInvoiceRepository">
        <constructor-arg name="crudRepository" ref="invoiceCRUDRepository"/>
    </bean>

    <bean id="xmlAddItemToCart" class="com.exo.ecommerce.usecases.AddItemToCart">
        <constructor-arg name="itemRepository" ref="xmlMySQLItemRepository"/>
        <constructor-arg name="cartRepository" ref="xmlMySQLCartRepository"/>
    </bean>

    <bean id="xmlCheckOut" class="com.exo.ecommerce.usecases.CheckOut">
        <constructor-arg name="cartRepository" ref="xmlMySQLCartRepository"/>
        <constructor-arg name="invoiceRepository" ref="xmlMySQLInvoiceRepository"/>
    </bean>

    <bean id="xmlGetCurrentCart" class="com.exo.ecommerce.usecases.GetCurrentCart">
        <constructor-arg name="cartRepository" ref="xmlMySQLCartRepository"/>
    </bean>

    <bean id="xmlGetAllInvoices" class="com.exo.ecommerce.usecases.GetAllInvoices">
        <constructor-arg name="invoiceRepository" ref="xmlMySQLInvoiceRepository"/>
    </bean>

    <bean id="xmlGetInvoice" class="com.exo.ecommerce.usecases.GetInvoice">
        <constructor-arg name="invoiceRepository" ref="xmlMySQLInvoiceRepository"/>
    </bean>

    <bean id="xmlGetAllItems" class="com.exo.ecommerce.usecases.GetAllItems">
        <constructor-arg name="itemRepository" ref="xmlMySQLItemRepository"/>
    </bean>


    <bean id="xmlAddItemPresenter" class="com.exo.ecommerce.infrastructure.http.AddItemPresenter"/>
    <bean id="xmlCheckOutPresenter" class="com.exo.ecommerce.infrastructure.http.CheckOutPresenter"/>
    <bean id="xmlCurrentCartPresenter" class="com.exo.ecommerce.infrastructure.http.CurrentCartPresenter"/>
    <bean id="xmlInvoicesPresenter" class="com.exo.ecommerce.infrastructure.http.InvoicesPresenter"/>
    <bean id="xmlInvoicePresenter" class="com.exo.ecommerce.infrastructure.http.InvoicePresenter"/>
    <bean id="xmlItemsPresenter" class="com.exo.ecommerce.infrastructure.http.ItemsPresenter"/>

</beans>