<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="xmlMySQLItemRepository" class="com.exo.ecommerce.infrastructure.MySQLItemRepository">
        <constructor-arg index="0" ref="itemCRUDRepository"/>
    </bean>

    <bean id="xmlMySQLCartRepository" class="com.exo.ecommerce.infrastructure.MySQLCartRepository">
        <constructor-arg index="0" ref="cartCRUDRepository"/>
    </bean>

    <bean id="xmlMySQLInvoiceRepository" class="com.exo.ecommerce.infrastructure.MySQLInvoiceRepository">
        <constructor-arg index="0" ref="invoiceCRUDRepository"/>
    </bean>

    <bean id="xmlAddItemToCart" class="com.exo.ecommerce.usecases.AddItemToCart">
        <constructor-arg index="0" ref="xmlMySQLItemRepository"/>
        <constructor-arg index="1" ref="xmlMySQLCartRepository"/>
    </bean>

    <bean id="xmlCheckOut" class="com.exo.ecommerce.usecases.CheckOut">
        <constructor-arg index="0" ref="xmlMySQLCartRepository"/>
        <constructor-arg index="1" ref="xmlMySQLInvoiceRepository"/>
    </bean>

    <bean id="xmlAddItemPresenter" class="com.exo.ecommerce.infrastructure.AddItemPresenter"/>
    <bean id="xmlCheckOutPresenter" class="com.exo.ecommerce.infrastructure.CheckOutPresenter"/>

</beans>